/*Header 1 font, color and background image style definition*/
h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  width: 100%;
  background-image: url("pattern.jpeg");
  background-size: cover;
  background-position: center;
  height: 120px;
}

/*Ordered list color definition*/
.crafts {
  color: blue;
}

/*Subheader 2 font and color definition*/
h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

/*Subheader 3 font definition*/
h3 {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
}

/*Subheader h2 brushes background definition*/
.brushes {
  background-size: contain;
  background-color: mediumspringgreen;
  background-position: left;
}

/*Text font*/
p {
  font-family: Helvetica;
}

/*Highlighted text font*/
.blue {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

/*Subheader h2 frames background definition*/
.frames {
  background-size: contain;
  background-color: lightcoral;
  background-position: left;
}

/*Subheader h2 paint background definition*/
.paint {
  background-size: contain;
  background-color: skyblue;
  background-position: left;
}
