h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  width: 100%;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  background-size: cover;
  background-position: center;
  height: 120px;
}

.crafts {
  color: blue;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h3 {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
}

.brushes {
  background-size: contain;
  background-color: mediumspringgreen;
  background-position: left;
}

p {
  font-family: Helvetica;
}

.blue {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

.frames {
  background-size: contain;
  background-color: lightcoral;
  background-position: left;
}

.paint {
  background-size: contain;
  background-color: skyblue;
  background-position: left;
}
